<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Event's Details</title>
    <style>
        body {
            background-image: url('/img/tenniscourt1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }
    </style>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"><span th:text="${event.name}" class="font-weight-bold"></span></h5>
        </div>
        <div class="card-body">
            <p class="card-text">Created By: <span th:text="${event.user.name}"></span></p>
            <p class="card-text">Description: <span th:text="${event.description}"></span></p>
            <p class="card-text">Participants number: <span th:text="${event.max_amount_participants}"></span></p>
            <p class="card-text">Start Time: <span th:text="${#temporals.format(event.dateTimeStart, 'dd-MM-yyyy HH:mm')}"></span></p>
            <p class="card-text">End Time: <span th:text="${#temporals.format(event.dateTimeEnd, 'dd-MM-yyyy HH:mm')}"></span></p>
            <p class="card-text">Location: <span th:text="${event.location}"></span></p>
            <p class="card-text">Created at: <span th:text="${#dates.format(event.timestamp, 'dd-MM-yyyy HH:mm')}"></span></p>
            <hr>
            <!-- Comments Section -->
            <div>
                <h4>Comments:</h4>
                <ul class="list-unstyled">
                    <li th:each="comment : ${comments}">
                        <strong th:text="${comment.user.name}">Username</strong>: <span th:text="${comment.content}">Comment content</span>
                </ul>
            </div>
            <!-- Comment Form -->
            <div>
                <h5>Add a comment:</h5>
                <form th:action="@{/events/{eventId}/add-comment(eventId=${event.id})}" th:object="${newComment}" method="post">
                    <input type="text" th:field="*{content}" class="form-control" placeholder="Write your comment here"/>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<a th:href="@{/teams/{id}(id=${team.id})}" class="btn btn-info mt-3">Return</a>
</div>
</body>
</html>
