<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EVENTS</title>
</head>
<body>
<div class="container mt-5">
    <h2>Event:   <span th:text="${event.name}"></span> <</h2>
    <p>Created By: <span th:text="${event.team.leader.name}"></span></p>
    <p>Description <span th:text="${event.description}"></span></p>
    <p>Participants number: <span th:text="${event.max_amount_participants}"></span></p>
    <p>Location: <span th:text="${event.location}"></span></p>

    <a th:href="@{/teams/{id}(id=${team.id})}" class="btn btn-secondary mt-3">Return</a>


</div>
</body>
</html>