<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Login/Registration Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">
</head>
<body>
<div class="form-structor">
    <form th:action="@{/login}" method="post">
    <div class="signup">
        <div class="center">
            <div class="alert alert-danger" th:if="${param.error}">
                Invalid Username or Password
            </div>
            <div class="alert alert-success" th:if="${param.logout}">
                Logout Successfully
            </div>
            <h2 class="form-title" id="login">Log in</h2>
            <div class="form-holder">
                <input type="text" class="input" id="username" name="username" placeholder="Enter your username" required />
                <input type="password" class="input" id="password" name="password" placeholder="Enter your password" required />
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </div>
    </div>
    </form>
    <div class="login slide-up">
        <div class="center">
            <h2 class="form-title"><a style="text-decoration: none; color: white" class="btn btn-info" href="/registration">Signup</a></h2>
        </div>
    </div>
</div>
<script src="/js/app.js"></script>
</body>
</html>
