<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h2>TEAM MEMBERS  <span th:text="${team.name}"></span></h2> <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ROLE</th>
    </tr>
    </thead>
    <tbody th:each="member: ${members}">
    <td th:text="${member.id}"></td>
    <td th:text="${member.name}"></td>
    <td th:text="${member.role.name}"></td>
    </tbody>
</table>
    <a href="/teams/" class="btn btn-secondary mt-3">Return</a>
</div>
</body>
</html>